<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>个人资料</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openPage(editPage)">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="header-image" [ngStyle]="{'background-image': 'url(assets/img/profile_background.jpg)'}"></div>

  <div class="main-content">
    <div class="circular" [ngStyle]="{'background-image': 'url('+avatar+')'}"></div>

    <h2>{{username}}</h2>


    <p class="gender" *ngIf="gender">男</p><p calss="gender" *ngIf="!gender">女</p>&bull; {{birthday}} &bull; {{age}}岁

    <p class="intro">{{intro}}</p>

    <hr>

    <ion-list no-lines>
      <ion-item>
        <ion-icon name="mail" color="primary" item-start></ion-icon>
        <p>电子邮件</p>
        {{email}}
      </ion-item>

      <ion-item>
        <ion-icon name="call" color="danger" item-start></ion-icon>
        <p>手机号码</p>
        {{phone}}
      </ion-item>

      <ion-item>
        <ion-icon name="pin" color="secondary" item-start></ion-icon>
        <p>现居地</p>
        {{location}}
      </ion-item>
    </ion-list>
  </div>

</ion-content>
