<!--
  Generated template for the CatalogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-title>{{examYear}}年真题</ion-title>

    <ion-buttons end>
      <button ion-button color="dark">重做</button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>

    <ion-row *ngFor="let row of rows">

      <ion-col col-3 *ngFor="let questionNum of row[1]">

        <button class="animated swing" ion-button color="light" (click)="openQuestionPage(examYear,questionNum)">
          {{questionNum}}
        </button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
