.dark-theme {
  ion-content {
    background-color: #555;
  }

  .item {
    background-color: #555;
  }

  .main-content {
    background-color: #555;
  }

  .editIntro {
    background-color: #666;
  }

  .toolbar-background {
    background-color: #444;
  }

  .toolbar-title {
    color: #ccc;
  }

  .back-button {
    color: #ccc;
  }

  .bar-button {
    color: #ccc;
  }

  .tab-button {
    background-color: #444;
  }
}
