.dark-theme {
  ion-content {
    background-color: #555;
  }

  .item {
    background-color: #555;
  }

  .main-content {
    background-color: #555;
  }

  ion-textarea {
    background-color: #666;
  }

  .toolbar-background {
    background-color: #444;
  }

  .tab-button {
    background-color: #444;
  }
}
