.light-theme {
  ion-content {
    background-color: #f4f4f4;
  }

  .item {
    background-color: #fff;
  }

  .main-content {
    background-color: #fff;
  }

  .editIntro {
    background-color: #fff;
  }

  .toolbar-background {
    background-color: #f8f8f8;
  }

  .toolbar-title {
    color: #000;
  }

  .back-button {
    color: #000;
  }

  .bar-button {
    color: #000;
  }

  .tab-button {
    background-color: #f8f8f8;
  }
}
