page-edit-intro {
  .scroll-content {
    overflow: hidden;
  }

  ion-textarea {
    background-color: white;
    height: 30vh;
    padding: 10px 0 10px 8px;
  }

  textarea {
    width: 100%;
    height: 100%;
    margin: 0 !important;
  }

  hr {
    margin: 0;
  }
}
